body {
  margin: 0;
  background-color: #f5f5f5;
}

input {
  border: none;
  outline: none;
}

textarea {
  border: none;
}


select {
  border: none;
}

button {
  padding: 5px 30px 5px 30px;
  background-color: #5e068a;
  border: none;
  margin-left: 30px;
}

.btn-close {
  align-self: end;
  margin-right: 20px;
}

.division {
  height: 30px;
  width: 100%;
  color: black;
}
.navbar-nav {
  font-weight: 500;
  color: #414141;
}

.carousel-caption{
  height: 450px;
}

.para-1 {
  width: 670px;
  margin-top: 45px;
}

.btn-view-courses{
  margin-top: 45px;
  background-color: #5e068a;
  border: none;
  padding: 16px 32px 16px 32px;
  border-radius: 30px;
  font-weight: bold ;
}

.btn-view-courses:hover {
  background-color:#72398e;
  transition: all 0.8s ease-in-out;
}

.d-block{
  filter: brightness(50%);
}

.division-1 {
 background-color: white;
}

.btn-learnmore{
  padding: 14px 24px 14px 24px;
  background-color: #5e068a;
  border: none;
  border-radius: 30px;
  font-weight: bold ;
  color: white;
}

.btn-learnmore:hover {
  border: 2px solid #5e068a;
 color: #5e068a;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.heading-2{
  color: #5e068a;
}

span {
  color: #9e6ab9;
}

.course-data{
  width: 50%;
}

#image-2 {
  height: 350px;
  width: 555px;
 
}

.para-2 {
  color:#414141;
}

.para-3 {
  font-weight: 500;
  color:#414141;
}


.container-2:hover {
  border: 1px solid #dbdbdb;
  transition: all 0.3s ease-in-out;
  box-shadow: 10px 10px 5px rgb(239, 239, 239);
}

.button{
  padding: 8px 16px 8px 16px;
  border-radius: 0;
  background-color: #5e068a;

}

.button:hover{
  padding: 8px 16px 8px 16px;
  border-radius: 0;
  background-color: #5e068a;
}

.card-coloumn{
  padding-bottom: 35px;
}
.card-coloumn-1{
  padding-bottom: 60px;
}

.courses:hover{
  border: 2px solid #dbdbdb;
  transition: all 0s ease-in-out;
  box-shadow: 10px 10px 5px rgb(239, 239, 239);
}

